
.Image {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0; 
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 80px;
}

.foto-menu {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border-radius: 50%;
}





.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: white; 
  padding-top: 60px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-right: 1px solid #ccc;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  border: 0.5px solid rgba(0, 0, 0, 0.116); 
  border-left: none;
  border-right: none;
}

.sidebar ul li a {
  color: black; /* testo nero */
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  display: block;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #f0f0f0; /* grigio chiaro al passaggio del mouse */
}





.copyrights {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px 15px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    color: #000000;
}