/* Reset dei margini e padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Stile del body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Stile dell'header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Stile della navigazione */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff7f50; /* Cambia colore al passaggio del mouse */
}

/* Stile delle sezioni */
section {
    padding: 50px 20px;
}

/* Stile dei progetti */
.project, .experience {
    margin-bottom: 30px;
}

.project h3, .experience h3 {
    color: #333;
    margin-bottom: 10px;
}

/* Stile dei contatti */
#contatti ul {
    list-style-type: none;
    margin-top: 20px;
}

#contatti ul li {
    margin-bottom: 10px;
}

#contatti ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

#contatti ul li a:hover {
    color: #ff7f50; /* Cambia colore al passaggio del mouse */
}

/* Stile del footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
